BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=

RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_ENDPOINT=
RUSTFS_REGION=
RUSTFS_BUCKET_NAME=
RUSTFS_CORS_ALLOWED_ORIGINS=
